# Python virtual environment
myenv/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.env.local

# Large files
*.h5
*.pkl
*.model
*.weights

# Logs
*.log

# OS specific
.DS_Store
Thumbs.db 